.input-container {
  padding: 1em;
  transition: background-color 200ms ease-in-out;

  & * + * {
    display: block;
  }

  &:focus-within {
    background-color: var(--secondary);
  }

  &:hover [data-input],
  &:focus-within [data-input] {
    border-bottom-color: var(--primary);
  }

  & [data-label] {
    display: block;
    margin-block-end: 0.7em;
    color: var(--accent);
  }

  & [data-input] {
    background-color: transparent;

    width: 100%;

    outline: none;
    border: none;
    border-bottom-width: 0.15em;
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
    transition: border 300ms ease-in-out;
  }
}
