.directory-actions-inner {
  display: flex;
  gap: 2rem;
  justify-content: space-around;

  & button {
    border: none;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 1em;

    &:hover,
    &:focus-visible {
      color: var(--accent);
    }
  }
}
