.directory-actions-inner {
  display: flex;
  gap: 2rem;
  justify-content: space-around;

  padding-block: 0.5rem;

  max-width: 40rem;
  margin: 0 auto;

  & [data-dir-action] {
    border: none;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

    &:hover,
    &:focus-visible {
      color: var(--accent);
    }
  }
}
