.tree-node {
  border-left: 2px solid;
  padding-left: 1rem;
  white-space: nowrap;

  & [data-expander] {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  & ul {
    list-style-type: none;
  }

  & .leaf-node {
    & [data-data-fetcher] {
      border: none;
      background: transparent;
    }

    & [data-deleter] {
      display: none;
      border: none;
      background: none;
    }

    &:hover [data-deleter] {
      display: inline-block;
    }
  }

  & i[class^="gg"] {
    display: inline-block;
    margin-top: 0.5rem;
  }
}
