.tree-node {
  border-left: 2px solid;
  padding-left: 1rem;
  white-space: nowrap;

  &[data-tile="true"] {
    border: none;

    &:hover .leaf-node [data-deleter] {
      /* Show the delete icon eventually */
      display: none;
    }

    & [data-expander],
    & [data-fetcher] {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      place-items: center;
    }

    & i[class^="gg"] {
      --ggs: 2;
    }
  }

  & button {
    border: none;
    background: transparent;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      color: var(--accent);
    }
  }

  & [data-directory] {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  & [data-empty-text] {
    margin-left: 1rem;
    opacity: 0.3;
  }
  & [data-expander] {
    border: none;
    background: transparent;
    cursor: pointer;

    &[data-selected="true"] {
      box-shadow: inset 0px -10px 0px 0px var(--accent);
    }
  }

  & ul {
    list-style-type: none;
  }

  & .leaf-node {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    & [data-fetcher] {
      border: none;
      background: transparent;
      cursor: pointer;
    }

    & [data-deleter] {
      display: none;
      border: none;
      background: none;
      cursor: pointer;
    }

    &:hover [data-deleter] {
      display: inline-block;
    }
  }

  & i[class^="gg"] {
    display: inline-block;
    margin-top: 0.5rem;
  }
}
