.tree-node {
  border-left: 2px solid;
  padding-left: 1rem;
  white-space: nowrap;

  & button {
    border: none;
    background: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }

  & [data-directory] {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  & [data-empty-text] {
    /* color: var(--accent); */
    margin-left: 1rem;
    opacity: 0.5;
  }
  & [data-expander] {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  & ul {
    list-style-type: none;
  }

  & .leaf-node {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    & [data-fetcher] {
      border: none;
      background: transparent;
      cursor: pointer;
    }

    & [data-deleter] {
      display: none;
      border: none;
      background: none;
      cursor: pointer;
    }

    &:hover [data-deleter] {
      display: inline-block;
    }
  }

  & i[class^="gg"] {
    display: inline-block;
    margin-top: 0.5rem;
  }
}
