.tree-view {
  padding: 1rem;
  overflow: auto;
  min-height: 100%;

  & [data-tree-container] {
    & > * + * {
      margin-top: 2rem;
    }
  }

  & [data-nodes-container] {
    list-style-type: none;
  }

  & [data-root-actions] {
    display: flex;
    justify-content: space-around;
    & button {
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
        color: var(--accent);
      }
    }
  }

  & [data-no-files] {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    place-content: center;
    min-height: 100%;

    text-align: center;
    font-size: 1.3rem;
  }
}
