.tree-view {
  border: 1px solid var(--text);
  padding: 1rem;
  overflow: auto;
  min-height: 100%;

  & [data-tree-container] {
    list-style-type: none;
  }

  & [data-no-files] {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    place-content: center;
    min-height: 100%;

    text-align: center;
    font-size: 1.3rem;
  }
}
