.current-directory-inner {
  min-height: 100%;
  padding: 1rem;

  & [data-nodes-container] {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    place-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}
