.current-directory-inner {
  min-height: 100%;

  & [data-nodes-container] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    place-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}
