.current-directory-inner {
  min-height: 100%;
  padding: 1rem;

  display: grid;
  grid-template-rows: min-content 1fr min-content;

  & [data-nodes-wrapper] {
    overflow-y: auto;

    & [data-empty-dir] {
      display: grid;
      place-content: center;
      opacity: 0.3;
      font-size: 2rem;
      min-height: 100%;
    }
  }

  & [data-nodes-container] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-rows: 6rem;
    place-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}
